:root {
  --primary-color: #1B2838; 
  --secondary-color:#171A21;
  --text-primary: #fff;
  --text-accent: #BEEB14;
  --text-placeholder: #a1a1a1;
  --header-height: 80px;
  --container-width: 1200px;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}


html, body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color) !important;
  color: var(--text-primary);
  min-height: 100vh;
}