#Switch{
    position: relative;
    
    width: 64px;
    margin: 4px auto;

    & button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #fff;
        border: 0;
        background-image: var(--switch-bg-url);
        background-position: center;
        background-repeat: no-repeat;

        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        animation: slide-out 0.2s;

    } 
    & button:hover{
    outline: 4px solid;
    }
     & span {
        display: block;
        border-radius: 999px;
        width: 64px;
        height: 24px;
        background-color: var(--surface-color);
        border: 1px solid var(--stroke-color);

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }


.light #Switch button{
    animation: slide-in 0.2s forwards;
}


}
@keyframes slide-in {
    from {
        left: 0;
    }
        to {
            left: 55%;
        }
    }

@keyframes slide-out {
    from {
        left: 50%;
    }
        to {
            left: 0;
        }
    }


