li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    text-decoration: none;
    /*border: 1px solid var(--stroke-color); */
    border-width: 1px;
    border-color: var(--surface-color);
    border-radius: 8px;
    border-style: solid;
    background-color: var(--surface-color);
    font-weight: bold;
    color: var(--text-color);
}

li a:hover{
    background-color: var(--surface-color-hover);
    border-color: var(--text-color);
}