:root{ /*variaveis de css no tema original projetado = light*/
 --font-raleway: "Raleway", sans-serif;
 --bg-primary: #f5f5f5f5
}

body{
  font-family: var(--font-raleway);
  background: var(--bg-primary);
}


/*dark*/
@media (prefers-color-scheme: dark){
  /*:root{
  --bg-primary: #212426;
  }*/
}