#Perfil {
    
    text-align: center;
    padding: 24px;

    & img {
        border-width: 4px;
        border-style: solid;
        border-color: rgba(146, 146, 146, 0.8);
        border-radius: 50%;
        width: 112px;
        height: 112px;
        object-fit: cover;
    }

    & p {
        line-height: 24px;
        font-weight: bold;
        margin-top: 8px;
    }
}